<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MQL dynamic time</title>
  <link rel="stylesheet" href="/app.css">
  <style>
    .container {
      padding: 1rem;
      margin: 3rem auto;
    }
  </style>
</head>
<body>
  <div class="container">
    <form method="POST">
      <label for="name">Name :</label>
      <input type="text" placeholder="name" name="name" />
      <label for="password">password :</label>
      <input type="password" placeholder="password" name="password" />
      <input type="submit" value="send">
    </form>
  </div>
</body>
</html>